@use 'commonProperties.module' as cp;

$forteChaleurColor: #F00;
$brouillardColor: #BDBDBD;
$diversColor: #FF5C00;
$verglasColor: #398CD0;
$fortePluieColor: #0000FF;
$ventFortColor: #69717F;
$vegetationColor: #31AA35;
$orageColor: #FFB82B;
$neigeColor: #A4D8EB;
$tousColor: #6E1E78;
.sectionButtonsAndChart {
  width: 110rem;
  margin-top: 5rem;
}

.logoTextBox {
  display: flex;

  .logo {
    width: 9.875rem;
    height: 6.875rem;
    flex-shrink: 0;
    margin-right: 2rem;
  }
}

.textSmall {
  @extend %smallText;
}

.boldText {
  @extend %textBoxCommon;
  font-size: 3.125rem;;
  font-weight: 700;
}

.commonBoxOneTextLine {
  @include cp.commonBox(12.5rem, 3.375rem);
  @extend %smallText;
}

.commonBoxTwoTextLines {
  @include cp.commonBox(10.3125rem, 6.875rem);
  flex-direction: column;
  word-wrap: break-word;
  overflow: hidden;
}

.selectorButton {
  background-color: #1F1F1F;
  border-radius: 0.25rem;
  width: 3.125rem;
  height: 3.375rem;
  flex-shrink: 0;

  &_arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }
}

.firstIntemperieButtonSection {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-bottom: 15px;
}

.secondIntemperieButtonSection {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  margin-bottom: 3rem;
}

%intemperieButtonCommon {
  width: 8.4375rem;
  height: 8.4375rem;
  flex-shrink: 0;
  border-radius: 22.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

%intempButtonNameCommon {
  flex-shrink: 0;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin intemperieButtonTwoVectorsClicked($intempColor) {
  @extend %intemperieButtonCommon;
  border: 4px solid $intempColor;
  background-color: $intempColor;

  &_vector1 {
    width: 1.59375rem;
    height: 2.90625rem;
    flex-shrink: 0;
    fill: none;
    right: 1px;

    path {
      fill: #FFF;
    }
  }

  &_vector2 {
    width: 0.65625rem;
    height: 1.3125rem;
    flex-shrink: 0;
    fill: white;
    z-index: 1;
    position: absolute;
    top: 24px;
    left: 39px;

    path {
      fill: #FFF;
    }
  }

  &_nameIntemp {
    @extend %intempButtonNameCommon;
    color: white;
  }
}

.forteChaleurButtonClicked {
  @include intemperieButtonTwoVectorsClicked($forteChaleurColor);
  position: relative;
}

@mixin intemperieButtonOneVector($intempColor) {
  @extend %intemperieButtonCommon;
  border: 4px solid $intempColor;

  svg, img {
    width: 2.8125rem;
    height: 2.8125rem;
  }

  &_nameIntemp {
    @extend %intempButtonNameCommon;
    color: $intempColor;
  }
}

.brouillardButton {
  @include intemperieButtonOneVector($brouillardColor);
}

.diversButton {
  @include intemperieButtonOneVector($diversColor);
}

.verglasButton {
  @include intemperieButtonOneVector($verglasColor);
}

.fortePluieButton {
  @include intemperieButtonOneVector($fortePluieColor);
}

.ventFortButton {
  @include intemperieButtonOneVector($ventFortColor);
}

.vegetationButton {
  @include intemperieButtonOneVector($vegetationColor);
}

.orageButton {
  @include intemperieButtonOneVector($orageColor);
}

.neigeButton {
  @include intemperieButtonOneVector($neigeColor);
}

.tousButton {
  @include intemperieButtonOneVector($tousColor);
}


@mixin intemperieButtonOneVectorClicked($intempColor) {
  @extend %intemperieButtonCommon;
  border: 4px solid $intempColor;
  background-color: $intempColor;

  svg, img {
    width: 2.8125rem;
    height: 2.8125rem;

    path {
      fill: white;
    }
  }

  &_nameIntemp {
    @extend %intempButtonNameCommon;
    color: white;
  }
}

.brouillardButtonClicked {
  @include intemperieButtonOneVectorClicked($brouillardColor);
}

.diversButtonClicked {
  @include intemperieButtonOneVectorClicked($diversColor);
}

.verglasButtonClicked {
  @include intemperieButtonOneVectorClicked($verglasColor);
}

.fortePluieButtonClicked {
  @include intemperieButtonOneVectorClicked($fortePluieColor);
}

.ventFortButtonClicked {
  @include intemperieButtonOneVectorClicked($ventFortColor);
}

.vegetationButtonClicked {
  @include intemperieButtonOneVectorClicked($vegetationColor);
}

.orageButtonClicked {
  @include intemperieButtonOneVectorClicked($orageColor);
}

.neigeButtonClicked {
  @include intemperieButtonOneVectorClicked($neigeColor);
}

.tousButtonClicked {
  @include intemperieButtonOneVectorClicked($tousColor);
}
