@use 'commonProperties.module' as cp;

$forteChaleurColor: #F00;
$brouillardColor: #BDBDBD;
$diversColor: #FF5C00;
$verglasColor: #398CD0;
$fortePluieColor: #0000FF;
$ventFortColor: #69717F;
$vegetationColor: #31AA35;
$orageColor: #FFB82B;
$neigeColor: #A4D8EB;

.logoTextBox {
  display: flex;

  .logo {
    width: 9.875rem;
    height: 6.875rem;
    flex-shrink: 0;
    margin-right: 2rem;
  }
}

.textSmall {
  @extend %smallText;
}

.boldText {
  @extend %textBoxCommon;
  font-size: 3.125rem;;
  font-weight: 700;
}

.commonBoxOneTextLine {
  @include cp.commonBox(12.5rem, 3.375rem);
  @extend %smallText;
}

.commonBoxTwoTextLines {
  @include cp.commonBox(10.3125rem, 6.875rem);
  flex-direction: column;
  word-wrap: break-word;
  overflow: hidden;
}

.selectorButton {
  background-color: #1F1F1F;
  border-radius: 0.25rem;
  width: 3.125rem;
  height: 3.375rem;
  flex-shrink: 0;

  &_arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
  }
}

.firstIntemperieButtonSection {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.secondIntemperieButtonSection {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

%intemperieButtonCommon {
  width: 5.625rem;
  height: 5.625rem;
  flex-shrink: 0;
  border-radius: 22.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

%intempButtonNameCommon {
  flex-shrink: 0;
  text-align: center;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@mixin intemperieButtonTwoVectors($intempColor) {
  @extend %intemperieButtonCommon;
  border: 4px solid $intempColor;

  &_vector1 {
    width: 1.0625rem;
    height: 1.9375rem;
    flex-shrink: 0;
    fill: $intempColor;
    position: relative;
    right: 1px;
  }

  &_vector2 {
    width: 0.4375rem;
    height: 0.875rem;
    flex-shrink: 0;
    fill: $intempColor;
    z-index: 1;
    position: absolute;
    top: 208px;
    left: 307px;
  }

  &_nameIntemp {
    @extend %intempButtonNameCommon;
    color: $intempColor;
  }
}

.forteChaleurButton {
  @include intemperieButtonTwoVectors($forteChaleurColor);
}

@mixin intemperieButtonOneVector($intempColor) {
  @extend %intemperieButtonCommon;
  border: 4px solid $intempColor;

  svg,img {
    width: 1.875rem;
    height: 1.875rem;
  }

  &_nameIntemp {
    @extend %intempButtonNameCommon;
    color: $intempColor;
  }
}

.brouillardButton {
  @include intemperieButtonOneVector($brouillardColor);
}

.diversButton {
  @include intemperieButtonOneVector($diversColor);
}

.verglasButton {
  @include intemperieButtonOneVector($verglasColor);
}

.fortePluieButton {
  @include intemperieButtonOneVector($fortePluieColor);
}

.ventFortButton {
  @include intemperieButtonOneVector($ventFortColor);
}

.vegetationButton {
  @include intemperieButtonOneVector($vegetationColor);
}

.orageButton {
  @include intemperieButtonOneVector($orageColor);
}

.neigeButton {
  @include intemperieButtonOneVector($neigeColor);
}

